<form asp-action="Add" method="post" asp-controller="Customer" id="customerForm">

    <partial name="_Form" model="new Customer()" />

    <button type="submit" class="btn btn-primary">Add</button>

</form>


